{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.titel) }}
    {{ form_row(form.inhoud, {
        label: 'Inhoud'
    }) }}
    {{ form_row(form.rol, {
        label: 'Rol'
    }) }}
{#    <form action="{{ path('app_home') }}" method="post">#}
        <button type="submit" class="btn btn-primary">submit</button>
{#    </form>#}
    {{ form_end(form) }}
{% endblock %}
