{% extends 'base.html.twig' %}

{% block title %}Hello DocentController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="logo" src="{{ asset('pictures/image/undraw_education_f8ru.png') }}"
                                                  alt="bijleslogo" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_docent') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_announcementdocent') }}">announcement voor docent</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a>You are logged in as</a> </li>{{ app.user.fname }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div>
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
        <th scope="titel">titel</th>
        <th scope="inhoud">inhoud</th>
    </tr>
    </thead>
    <tbody id="mytable">
    {% for announcement in announcements %}
                <tr>
                    <th scope="row" colspan="5">{{ announcement.titel }}}</th>
                    <th scope="row" colspan="5">{{ announcement.inhoud }}}</th>
                </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}
