{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="logo"
                                                  src="{{ asset('pictures/image/undraw_education_f8ru.png') }}"
                                                  alt="bijleslogo" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_docent') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_announcementdocent') }}">announcement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_docent_bijles') }}">Bijles aanmaken voor leerling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_docent_crud') }}">Bijles bewerken en verwijderen</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a>You are logged in as docent</a></li>{{ app.user.fname }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div>
            <div class="table-responsive">
                <<table class="table">
                    <thead>
                    <tr>
                        <th scope="col">opmerkingen</th>
                        <th scope="col">Datum</th>
                        <th scope="col">docent</th>
                        <th scope="col">edit</th>
                        <th scope="col">delete</th>
                    </thead>
                    <tbody id="mytable">
                    {% for bijles in bijlessen %}
                        <tr>
                            <td>{{ bijles.opmerkingen }}</td>
                            <td>{{ bijles.date|date("m/d/Y hh:i")}}</td>
                            <td>{{ bijles.docent.fname}}</td>
                            <td>
                                <a href="{{ path('app_docent_editcrudpagina',{'id':bijles.id} ) }}" class="btn btn-xs btn-success"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td>
                                <a href="{{ path('app_docent_delete',{'id':bijles.id} ) }}" class="btn btn-xs btn-success"><i class="bi bi-trash3"></i></a>
                            </td>
                            <td> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

