{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="logo"
                                                  src="{{ asset('pictures/image/undraw_education_f8ru.png') }}"
                                                  alt="bijleslogo" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_announcementleerling') }}">announcement leerlingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home_bijlessen') }}">bijles</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a>You are logged in as</a></li>{{ app.user.fname }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="titel">Docent</th>
                        <th scope="inhoud">Opmerkingen</th>
                        <th scope="inhoud">Date</th>
                    </tr>
                    </thead>
                    <tbody id="mytable">
                    {% for bijles in bijlessen %}
                        <tr>
                            <th scope="row" colspan="5">{{ bijles.docent.fname }}</th>
                            <th scope="row" colspan="5">{{ bijles.opmerkingen }}</th>
                            <th scope="row" colspan="5">{{ bijles.date|date("m/d/Y")}}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

